<!DOCTYPE html>
<html lang="en"></html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>TodoList</title>
        <link href="public/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="public/css/main.css" rel="stylesheet">
        <link href="public/bower_components/angular-motion/dist/angular-motion.min.css" rel="stylesheet">
    </head>
    <body ng-app="todolist" ng-controller="TodoCtrl">
        <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><span class="navbar-brand">TodoList</span>
                </div>
                <div class="navbar-collapse collapse">
                    <form role="form" novalidate class="navbar-form navbar-right">
                        <div class="form-group">
                            <input id="emailUser" type="email" placeholder="Email" ng-model="emailSignin" class="form-control">
                        </div>
                        <div class="form-group">
                            <input id="passwordUser" type="password" placeholder="Password" ng-model="passwordSignin" class="form-control">
                        </div>
                        <button id="signin" ng-click="trySignin()" class="signup-in-out btn btn-success">Sign in</button>
                        <button id="signup" type="button" data-animation="am-fade-and-slide-top" ng-click="showModal(&quot;signup&quot;)" class="signup-in-out btn btn-info">Sign up</button>
                        <button id="signout" ng-click="trySignout()" class="signup-in-out btn btn-danger disabled">Log out</button>
                        <div id="loggedInAs">Logged in as {{userLoggedIn.email}}</div>
                    </form>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
                <section id="todoapp">
                    <header id="header">
                        <h1>TodoList</h1>
                        <form id="todo-form" ng-submit="addTodo()">
                            <input id="new-todo" type="text" placeholder="{{placeholder}}" autofocus="autofocus" autocomplete="off" ng-model="newTodo">
                        </form>
                    </header>
                    <section id="main">
                        <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="checkAllTodos(allChecked)">
                        <ul ui-sortable ng-model="todos" id="todo-list">
                            <li ng-repeat="todo in todos | filter: choiceFilter" ng-class="{completed : todo.is_complete, editing: todo.editing}" ng-dblclick="todo.editing = true">
                                <div class="view">
                                    <input type="checkbox" ng-model="todo.is_complete" class="toggle">
                                    <label>{{todo.description}}</label>
                                    <button ng-click="removeTodo($index)" class="destroy"></button>
                                </div>
                                <form>
                                    <input ng-model="todo.description" ng-blur="editTodo(todo)" class="inputEditing edit">
                                </form>
                            </li>
                        </ul>
                    </section>
                    <footer id="footer"><span id="todo-count"><strong>{{remaining}}</strong>&nbsp; Tasks Left</span>
                        <ul id="filters">
                            <li><a href="#/" ng-class="{ selected: location.path() == '/' }">All</a></li>
                            <li><a href="#/actives" ng-class="{ selected: location.path() == '/actives' }">Actives</a></li>
                            <li><a href="#/done" ng-class="{ selected: location.path() == '/done' }">Done</a></li>
                        </ul>
                    </footer>
                </section>
            </div>
        </div>
        <script src="public/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
        <script src="public/bower_components/angular/angular.min.js"></script>
        <script src="public/bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
        <script src="public/bower_components/angular-strap/dist/angular-strap.min.js"></script>
        <script src="public/bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
        <script src="public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="public/js/todo.client.js"></script>
        <script src="public/js/base.js"></script>
    </body>
</html>